<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<!--
  <div class="icons">
    <img src={{maVariable}}.{{item.thumbnailUrl}} />
  </div>
-->

  <div class="title">
    {{maVariable}}
  </div>

</ion-content>
