<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <!--
        a list of the greatest heavy metal bands of all time, performing in LATIN LANGUAGE. Click for more detail.
    -->

    <ion-item *ngFor="let item of monTableau" detail (click)="detail(item.title)">

      <div class="icons">
        <img src={{item.thumbnailUrl}} />
      </div>

      <div class="title">
        {{item.title}}
      </div>

    </ion-item>
  </ion-list>
</ion-content>
